/*Base style*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	/*overflow-y: hidden;*/
	padding-bottom: 100px;
}

h1 {
	font-size: 42px;
	font-weight: 300;
	text-align: center;
}

h2 {
	font-size: 36px;
	font-weight: 400;
}

h3 {
	font-size: 24px;
	font-weight: 400;
}

.button-container {
	text-align: center;
	margin: 15px 0;
}

.btn {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	padding: 14px 73px;
	display: inline-block;
	transition: background .3s ease-in-out
}

.btn-accent {
	color: #fff;
	background: #d0bc13;
}

.btn-accent:hover {
	background: #ac9b10;
}

.link {
	font-size: 16px;
	font-weight: 400;
	color: #1ac9e9;
	text-decoration: none;
	position: relative;
	display: inline-block;
}

.link::after {
	content: "";
	display: block;
	position: absolute;
	width: 35%;
	height: 1px;
	bottom: -3px;
	background: #1ac9e9;
	transition: all .5s cubic-bezier(0.9, 0.04, 0.1, 0.98)
}

.link:hover::after {
	width: 100%;
}

.link-service {
	color: #bababa;
	text-decoration: underline;
	float: right;
}

.link-service:hover {
	text-decoration: none;
}

/* Header style */

.header-nav {
	font-size: 0;
	position: relative;
	width: 100%;
}

.service-container {
	position: absolute;
	right: 0;
}

.service-button {
	width: 50px;
	height: 50px;
	background: #bababa;
	display: inline-block;
	font-size: 16px;
	position: relative;
	cursor: pointer;
}

.service-button:not(:last-child) {
	margin-right: 1px;
}

.button-humburger .humburger {
	margin: 16px 0 0 13px;
}

.button-humburger .humburger span {
	display: block;
	width: 25px;
	height: 3px;
	background: #fff;
}

.button-humburger .humburger span:not(:last-child) {
	margin-bottom: 3px;
}

.button-search {
	background-image: url(./img/icons/loupe.png);
	background-position: center center;
	background-repeat: no-repeat;

}


/* Home screen style */

.home {
	width: 100%;
	height: 100vh;
	min-height: 480px;
	background: url(./img/home-background.jpg) 50% 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.home-logo {
	position: relative;
	text-align: center;
}

.home-heading {
	margin-top: 35px;
}

.home-logo::before {
	content: '';
	display: block;
	width: 72px;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -36px;
}

/* Sidebar style */

.sidebar {
	width: 100%;
	padding: 35px 0;
	background: #eeeeee;
}

.sidebar-nav {
	text-align: right;
	padding: 0 27px 24px 0;
}

.sidebar-nav h3 {
	margin-bottom: 10px;
	font-weight: 700;
}

.nav-items li {
	list-style: none
}

.nav-items li:not(:last-child) {
	margin-bottom: 3px;
}

.nav-items .items-link {
	font-size: 16px;
	color: #010101;
	text-decoration: none;
}

/* Content Style */

.content-section {
	padding-top: 74px;
}

.article-list {
	padding-top: 36px;
}

.article-header h3 {
	margin-bottom: 12px;
}


.article-body img {
	max-width: 100%;
	margin: 10px 0;
}

.article-body p {
	margin: 10px 0;
}

.tags {
	font-size: 0;
}

.tags-item {
	font-size: 16px;
	font-weight: normal;
	background: #d0bc13;
	padding: 3px 8px;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	transition: background .3s ease-in-out;
	display: inline-block;
}

.tags-item:not(:last-child) {
	margin-right: 3px;
}

.tags-item:hover {
	background: #ac9b10;
}

.article-footer {
	margin-top: 28px;
	width: 100%;
	border-top: 1px solid #bababa;
	padding-top: 8px;
}
