/*Base style*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 42px;
	font-weight: 300;
	text-align: center;
}

h2 {
	font-size: 36px;
	font-weight: 400;
}

h3 {
	font-size: 24px;
	font-weight: 400;
}

.button-container {
	text-align: center;
	margin: 15px 0;
}

.btn {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	padding: 14px 73px;
	display: inline-block;
	transition: background .3s ease-in-out
}

.btn-accent {
	color: #fff;
	background: #d0bc13;
}

.btn-accent:hover {
	background: #ac9b10;
}

.link {
	font-size: 16px;
	font-weight: 400;
	color: #1ac9e9;
	text-decoration: none;
	position: relative;
	display: inline-block;
}

.link::after {
	content: "";
	display: block;
	position: absolute;
	width: 35%;
	height: 1px;
	bottom: -3px;
	background: #1ac9e9;
	transition: all .5s cubic-bezier(0.9, 0.04, 0.1, 0.98)
}

.link:hover::after {
	width: 100%;
}

.link-service {
	color: #bababa;
	text-decoration: underline;
	float: right;
}

.link-service:hover {
	text-decoration: none;
}

/* Header style */

.header-nav {
	font-size: 0;
	position: relative;
	width: 100%;
}

.service-container {
	position: absolute;
	right: 0;
}

.mobile-nav {
	display: none;
}

.service-button {
	width: 50px;
	height: 50px;
	background: #bababa;
	display: inline-block;
	font-size: 16px;
	position: relative;
	cursor: pointer;
	position: relative;
}

.service-button:not(:last-child) {
	margin-right: 1px;
}

.button-humburger {
	z-index: 1;
}

.button-humburger .main-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: absolute;
	right: 50px;
	top: -50px;
	height: 50px;
	padding: 0 20px;
	background: #fff;
	align-items: center;
	width: 335px;
	transition: top .3s ease-in-out
}

.button-humburger:hover .main-nav {
	top: 0;
}

.button-humburger .main-nav a {
	display: inline-block;
	color: #222222;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	transition: color .3s ease-in-out;
}

.button-humburger .main-nav a:hover {
	color: #d0bc13;
}

.button-humburger .main-nav a:not(:last-child) {
	margin-right: 15px;
}

.button-humburger .humburger {
	margin: 16px 0 0 13px;
}

.button-humburger .humburger span {
	display: block;
	width: 25px;
	height: 3px;
	background: #fff;
}

.button-humburger .humburger span:not(:last-child) {
	margin-bottom: 3px;
}

.button-search {
	background-image: url(./img/icons/loupe.png);
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1;
}

.button-search input {
	position: absolute;
	height: 50px;
	right: 50px;
	outline: none;
	font-size: 16px;
	width: 0;
	padding: 0;
	transition: all .3s ease-in-out;
	border: 0;
}

.button-search:hover input {
	width: 200px;
	padding-left: 20px;
}

.button-search input::-webkit-input-placeholder {
	color: #cdcbcb;
}

.button-search input::-moz-placeholder {
	color: #cdcbcb;
}

.button-search input:-moz-placeholder {
	color: #cdcbcb;
}

.button-search input:-ms-input-placeholder {
	color: #cdcbcb;
}


/* Home screen style */

.home {
	width: 100%;
	height: 100vh;
	min-height: 480px;
	background: url(./img/home-background.jpg) 50% 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.inner-page {
	max-height: 320px;
	min-height: 320px;
}

.home-logo {
	position: relative;
	text-align: center;
}

.home-heading {
	margin-top: 35px;
}

.home-logo::before {
	content: '';
	display: block;
	width: 72px;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -36px;
}

/* Sidebar style */

.sidebar {
	width: 100%;
	padding: 35px 0;
	background: #eeeeee;
}

.sidebar-nav {
	text-align: right;
	padding: 0 27px 24px 27px;
}

.sidebar-nav h3 {
	margin-bottom: 10px;
	font-weight: 700;
}

.nav-items li {
	list-style: none
}

.nav-items li:not(:last-child) {
	margin-bottom: 3px;
}

.nav-items .items-link {
	font-size: 16px;
	color: #010101;
	text-decoration: none;
}

/* Content Style */

.content-section {
	padding: 74px 0 62px 0;
}

.article-list {
	padding-top: 36px;
}

.article-header h3 {
	margin-bottom: 12px;
}


.article-body img {
	max-width: 100%;
	margin: 10px 0;
}

.article-body p {
	margin: 10px 0;
}

.tags {
	font-size: 0;
}

.tags-item {
	font-size: 16px;
	font-weight: normal;
	background: #d0bc13;
	padding: 3px 8px;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	transition: background .3s ease-in-out;
	display: inline-block;
}

.tags-item:not(:last-child) {
	margin-right: 3px;
}

.tags-item:hover {
	background: #ac9b10;
}

.article-footer {
	margin-top: 28px;
	width: 100%;
	border-top: 1px solid #bababa;
	padding-top: 8px;
}

/* Home footer Style */

.home-footer {
	width: 100%;
	padding: 16px 0; 
	background: #292929;
	color: #bababa;
	font-size: 16px;
	text-align: center;
}

/* Pagination */

.pagination {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
}

.pagination ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.pagination ul li {
	list-style: none;
	width: 30px;
	height: 30px;
	background: #bababa;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination ul li:not(:last-child) {
	margin-right: 11px;
}

.pagination ul li a {
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}

.pagination ul li a.prev-page::after {
	content: "<";
}
.pagination ul li a.next-page::after {
	content: ">";
}

/* Scrtoll to top */

.scroll-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999;
	display: none;
}

.scroll-to-top.visible {
	display: block;
}

.scroll-to-top a.scroll-to-target{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background: #d0bc13;
	opacity: 40%;
	color: #fff;
	text-decoration: none;
}

.scroll-to-top a.scroll-to-target i {
	font-size: 24px;
}

/* Social widget */

.social-widget {
	position: fixed;
	left: 0;
	top: 200px;
	z-index: 999;
}

.social-widget li {
	list-style: none;
}

.social-widget li a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	margin-bottom: 1px;
}

.social-widget li a.social-vk {
	background: #43678f;
}

.social-widget li a.social-fb {
	background: #3b5998;
}

.social-widget li a.social-google {
	background: #dc4a38;
}

/* Callback form */

.callback-form {
	margin: 20px 0;
}

.callback-form input, .callback-form textarea {
	display: block;
	width: 100%;
	border-style: solid;
	border-color: #bababa;
	border-width: 2px 2px 2px 50px;
	padding: 16px 0 16px 30px;
	font-size: 15px;
	margin-bottom: 20px;
}

.callback-form textarea {
	resize: none;
}

.callback-form button {
	font-size: 16px;
	color: #fff;
	background: #d0bc13;
	padding: 18px 39px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

.callback-form button.button-submit {
	border-style: solid;
	border-color: #aa9a14;
	border-width: 0 0 0 50px;
}

.callback-form input::-webkit-input-placeholder, .callback-form textarea::-webkit-input-placeholder {
	color: #cdcbcb;
}

.callback-form input::-moz-placeholder, .callback-form textarea::-moz-placeholder {
	color: #cdcbcb;
}

.callback-form input:-moz-placeholder, .callback-form textarea:-moz-placeholder {
	color: #cdcbcb;
}

.callback-form input:-ms-input-placeholder, .callback-form textarea:-ms-input-placeholder {
	color: #cdcbcb;
}

.callback-form .item-group {
	position: relative;
}

.callback-form .item-group .fa {
	position: absolute;
	top: 12px;
	left: 0;
	font-size: 24px;
	color: #fff;
	width: 50px;
	text-align: center;
}

/* Widget Slider */

.slider-container {
	position: relative;
	margin-top: 20px;
}

.widget-slider {
	z-index: 1;
}

.widget-slider_nav {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 0;
	width: 100%;
	z-index: 2;
}

.btn-nav {
	position: absolute;
	width: 20px;
	height: 40px;
	background: rgba(0,0,0,.3);
	cursor: pointer;
	transition: background .3s ease-in-out;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #fff;
}

.btn-nav:hover {
	background: rgba(0,0,0,.7);
}

.btn-nav.nav-prev {
	left: 0;
	border-radius: 0 4px 4px 0;
}

.btn-nav.nav-next {
	right: 0;
	border-radius: 4px 0 0 4px;
}

.slide-item {
	position: relative;
}

.slide-description {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	background: rgba(0,0,0,.3);
}
